# Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.env

# Virtual Environment
venv/
myenv/

# IDE
.vscode/
.idea/

# Git
.git
.gitignore

# Local database
*.db

# Temporary Files
*.log
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
.flaskenv
