<!-- Create Task Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Create Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createForm" action="{{ url_for('tasks.create_task') }}" method="POST" enctype="multipart/form-data">
                    {{ create_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ create_form.title.label(class="form-label") }}
                        {{ create_form.title(class="form-control", placeholder="Enter task title") }}
                        {% for error in create_form.title.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ create_form.description.label(class="form-label") }}
                        {{ create_form.description(class="form-control", placeholder="Enter task description", rows=3) }}
                        {% for error in create_form.description.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create-task-button">Save changes</button>
            </div>
        </div>
    </div>
</div>
