<!-- Edit Task Modal -->
<div class="modal fade" id="editModal-{{ task.id }}" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="editModalLabel-{{ task.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel-{{ task.id }}">Edit Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% set form = update_forms[task.id] %}
                <form id="editForm-{{ task.id }}" action="{{ url_for('tasks.update_task', task_id=task.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control custom-input", value=task.title, placeholder="Enter task title") }}
                        {% for error in form.title.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", value=task.description, placeholder="Enter task description", rows=3) }}
                        {% for error in form.description.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-check mb-3">
                        {{ form.is_done(class="form-check-input", value=task.is_done) }}
                        {{ form.is_done.label(class="form-check-label") }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary edit-task-button" data-task-id="{{ task.id }}">Save changes</button>
            </div>
        </div>
    </div>
</div>