{% extends 'base.html' %}


{% block title %} Create Task {% endblock %}

{% block content %}
<h1 class="display-5 text-center text-uppercase my-5">Create Task</h1>
<div class="container">
    <form action="{{ url_for('create_task') }}" method="POST">
        <div class="mb-3">
            <label for="title">Task Name</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="description">Task Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Create Task</button>
    </form>
</div>
{% endblock %}
