{% extends 'base.html' %}



{% block title %} Tasks {% endblock %}



{% block content %}
<div class="container">
    <table class="table table-primary table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                {% if task.is_done %}
                <td><i class="bi bi-check text-success"></i></td>
                {% else %}
                <td><i class="bi bi-x text-danger"></i></td>
                {% endif %}
                <td>{{ task.created_at }}</td>
                <td>{{ task.updated_at }}</td>
                <td><button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="modal"
                        data-bs-target="#editModal-{{ task.id }}">Edit</button></td>
                <td><button class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="modal"
                        data-bs-target="#deleteModal-{{ task.id }}">Delete</button></td>
            </tr>

            {% include 'edit-modal.html' %}
            
            {% include 'delete-modal.html' %}

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}