{% extends 'base.html' %}



{% block title %} Tasks {% endblock %}





{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h1 class="mt-4">Tasks</h1>
    <p class="lead">Manage your tasks efficiently.</p>
    <table class="table table-primary table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                {% if task.is_done %}
                <td><i class="bi bi-check text-success"></i></td>
                {% else %}
                <td><i class="bi bi-x text-danger"></i></td>
                {% endif %}
                <td>{{ task.created_at }}</td>
                <td>{{ task.updated_at }}</td>
                <td><button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="modal"
                        data-bs-target="#editModal-{{ task.id }}">Edit</button></td>
                <td><button class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="modal"
                        data-bs-target="#deleteModal-{{ task.id }}">Delete</button></td>
            </tr>

            {% include 'edit-task-modal.html' %}

            {% include 'delete-task-modal.html' %}

            {% endfor %}
        </tbody>
    </table>

    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination mx-auto">
            <li class="page-item">
                <a class="page-link {% if pagination.page == 1 %}disabled{% endif %}" href="{{ url_for('get_all_tasks', page=1) }}" {% if pagination.page == 1 %}tabindex="-1"{% endif %} aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if pagination.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('get_all_tasks', page=pagination.prev_num) }}">{{ pagination.prev_num }}</a></li>
            {% endif %}
            <li class="page-item"><span class="page-link active" href="{{ url_for('get_all_tasks', page=page) }}" aria-current="page">{{ pagination.page }}</span></li>
            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('get_all_tasks', page=pagination.next_num) }}">{{ pagination.next_num }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link {% if not pagination.page < pagination.pages %}disabled{% endif %}" href="{{ url_for('get_all_tasks', page=pagination.pages) }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}